<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
    lang = "en-us">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:href="@{/js/home.js}"></script>
</head>

<body>
<div class="container">

<!--    <form th:action="@{/logout}" method="get">-->
<!--        <button class="btn btn-md btn-danger btn-block" name="registration"-->
<!--                type="Submit">Logout-->
<!--        </button>-->
<!--    </form>-->

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${session.userName}"></span>
            </div>

            <button class="tablink" id="home-tab" onclick="openPage('home', this, '#337ab7')">Home</button>
            <button class="tablink" id="workout-tab" onclick="openPage('workout', this, '#337ab7')">Workout</button>
            <button class="tablink" id="nutrition-tab" onclick="openPage('nutrition', this, '#337ab7')">Nutrition</button>
            <button class="tablink" id="activities-tab" onclick="openPage('activities', this, '#337ab7')">Activities</button>


            <div class="center">
                <div class="center-border">
                    <a onclick="prevDate()" class="previous round" style="text-decoration: none">&#8249;</a>
                    <input type="date" id="datePicker" onchange="callChangeDate()">
                    <a onclick="nextDate()" class="next round" style="text-decoration: none">&#8250;</a>
                </div>
            </div>
            <div id="home">
            </div>
            <div id ="workout" class="tabcontent">
                <div class="center-table" th:style="${session.workouts != null ? 'display:block' : 'display:none'}">
                    <table class="styled-table" style="width: 100%">
                        <thead>
                        <tr>
                            <th class="workout-col">Set</th>
                            <th class="workout-col">Reps</th>
                            <th class="workout-col">Weight</th>
                        </tr>
                        </thead>
                        <span th:each="workout: ${session.workouts}">
                            <span th:each="exercise: ${workout.getExercises()}">
                                <tbody>
                                    <tr>
                                        <td colspan="5" style="background-color: #eee">
                                            <button data-toggle="collapse" class="collapsible" th:attr="data-target= '#exercise' + ${exercise.getExerciseNumber()}" th:text="${exercise.getExerciseDescription().getExerciseName()}"></button>
                                        </td>
                                    </tr>
                                    <tbody th:id="'exercise'+${exercise.getExerciseNumber()}" class="collapse">
                                        <tr th:each="set, stat: ${exercise.getSetDescriptions()}">
                                            <td><p th:text="${set.getSetNumber() + 1}"></p></td>
                                            <td><p th:text="${set.getReps()}"></p></td>
                                            <td><p th:text="${set.getWeight()}"></p></td>
                                        </tr>
                                    </tbody>
                                </tbody>
                            </span>
                        </span>
                    </table>
                </div>
            </div>
            <div id="nutrition" class="tabcontent">
                <div class="center-table" th:style="${session.meals != null ? 'display:block' : 'display:none'}">
                    <table class="styled-table" style="width: 100%">
                        <thead>
                        <tr>
                            <th class="food-col">Food Entry</th>
                            <th class="food-col">Calories (kcal)</th>
                            <th class="food-col">Total Fat (g)</th>
                            <th class="food-col">Protein (g)</th>
                            <th class="food-col">Total Carbohydrates (g)</th>
                        </tr>
                        </thead>
                        <span th:each="meal: ${session.meals}">
                            <tbody>
                                    <tr>
                                        <td colspan="5" style="background-color: #eee">
                                            <button data-toggle="collapse" class="collapsible" th:attr="data-target= '#meal' + ${meal.getMealNumber()}" th:text="${'Meal ' + meal.getMealNumber()}"></button>
                                        </td>
                                    </tr>
                                <tbody th:id="'meal'+${meal.getMealNumber()}" class="collapse">
                                    <tr th:each="food: ${meal.getFoods()}">
                                        <td><p th:text="${food.getSearchQuery()}"></p></td>
                                        <td><p th:text="${food.multValue('calories')}"></p></td>
                                        <td><p th:text="${food.multValue('totalFat')}"></p></td>
                                        <td><p th:text="${food.multValue('protein')}"></p></td>
                                        <td><p th:text="${food.multValue('totalCarbohydrate')}"></p></td>
                                    </tr>
                                    <tr style="font-weight: bold">
                                        <td><p>Meal Total</p></td>
                                        <td><p th:text="${meal.getTotal('calories')}"></p></td>
                                        <td><p th:text="${meal.getTotal('totalFat')}"></p></td>
                                        <td><p th:text="${meal.getTotal('protein')}"></p></td>
                                        <td><p th:text="${meal.getTotal('totalCarbohydrate')}"></p></td>
                                    </tr>
                                </tbody>
                            </tbody>
                        </span>
                        <tr style="font-weight: bold">
                            <td><p>Day Total</p></td>
                            <td><p th:text="${session.day.dayTotals().get(0)}"></p></td>
                            <td><p th:text="${session.day.dayTotals().get(1)}"></p></td>
                            <td><p th:text="${session.day.dayTotals().get(2)}"></p></td>
                            <td><p th:text="${session.day.dayTotals().get(3)}"></p></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div id="activities" class="tabcontent">
                <div th:style="${session.activities != null ? 'display:block' : 'display:none'}">
                </div>
            </div>
            <script th:inline="javascript">
                window.onload = function() {
                    var date = [[${session.date}]]
                    if (date != null) {
                        document.getElementById('datePicker').value = date;
                    } else {
                        document.getElementById('datePicker').valueAsDate = new Date();
                    }
                    console.log(date);

                    var tab = [[${session.tab}]]
                    console.log(tab);
                    document.getElementById(tab).style.display = "block";
                    document.getElementById(tab + "-tab").style.backgroundColor = "#337ab7";
                }

            </script>
            </div>
        </div>
    </div>

</div>
</body>
<script>
    function nextDate() {
        var date = new Date(document.getElementById('datePicker').value);
        var tomorrow = new Date(date.valueOf() + 1000*3600*24);
        document.getElementById('datePicker').value = tomorrow.toISOString().slice(0,10);
        callChangeDate()
    }

    function prevDate() {
        var date = new Date(document.getElementById('datePicker').value);
        var yesterday = new Date(date.valueOf() - 1000*3600*24);
        document.getElementById('datePicker').value = yesterday.toISOString().slice(0,10);
        callChangeDate()
    }

    function changeDate( callback ) {
        var date = document.getElementById('datePicker').value;
        const http = new XMLHttpRequest();
        const url = "updateDate"
        http.open("POST", url);
        http.send(date);
        callback(date)
    }

    function callback(date) {
        window.location.href = "http://localhost:8080/user/home?date=" + date;
    }

    function callChangeDate() {
        changeDate(callback);
    }

    function openPage(pageName, elmnt, color) {
        // Hide all elements with class="tabcontent" by default */
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Remove the background color of all tablinks/buttons
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }

        // Show the specific tab content
        document.getElementById(pageName).style.display = "block";

        // Add the specific color to the button used to open the tab content
        elmnt.style.backgroundColor = color;

        const http = new XMLHttpRequest();
        const url = "updateTab"
        http.open("POST", url);
        http.send(pageName);
        console.log('here');
    }

</script>
</html>
